/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  margin: 33px;
}

.about{
  margin: 33px;
}

.about span{
  font-weight: bold;
}


thead{
  text-align: center;
}

th{
  padding: 1px 1px 5px 1px;
}

td{
  padding: 1px 5px 7px 5px;
}


.text_box,.update_box{
  margin-bottom: 10px;
}

.text_box p{
  margin: 0px;
}

.show_title_text p{
  margin: 33px;
}

.show_title_text p:first-child{
  color: #008000;
}

.alert{
  background-color: #f0f0f0;
  width: 450px;
  margin-bottom: 20px;
}

.alert p{
  font-weight: bold;
  border:2px solid red;
  border-bottom: 0px;
  padding: 5px 5px 5px 15px;
  color: #ffffff;
  background-color: #cc0000;
  margin: 0px;
}

.alert ul{
  padding: 33px 33px 33px 73px;
  background-color: #f0f0f0;
  border:2px solid red;
  border-top: 0px;
  margin: 0px;
}